.screenshothistory{
  width: 100px;
  height: 56px;
  display: inline-block;
  margin-top: 5px;
}
.screenshotpage{
  display: inline-block;
  float:right;
  margin-top:20px; ;
    background-color: #4cb5f5;
    color:white;
    width: 10em;
    border: solid 1px;
    text-align: center;
    display: table;
  }
  .screenshotpage:hover{
    background-color: white;
    color:#4cb5f5;
    width: 10em;
    border: solid 1px;
}
.faqtitle{
  color:black;
}
.casa{
  float: left;
  margin-top: -50px;
}
.myprofilecontainer{
  font-size:20px;
  font-family: 'Helvetica', cursive;
  text-align: center;
}
.proceedbutton{
  display: inline-block;
  margin-right: 13px;
    background-color: #4cb5f5;
    color:white;
    width: 10em;
    border: solid 1px;
    text-align: center;
}
.proceedbutton:hover{
  background-color: white;
  color:#4cb5f5;
  width: 10em;
  border: solid 1px;
}
.well{
  height:100%;
}
.hidden{
  display: none;
}
.datepicker{
  margin-left: 15px;

}
.applicationselector{
  margin-left: 30px;
  display: inline-block;
}
.screenshot{
  display: inline-block;
  float:left;
  margin-right: 13px;
    background-color: #4cb5f5;
    color:white;
    width: 10em;
    border: solid 1px;
    text-align: center;
    display: table;
  }
  .screenshot:hover{
    background-color: white;
    color:#4cb5f5;
    width: 10em;
    border: solid 1px;
}
.profilename{
  font-family: 'Helvetica', cursive;;
  font-size:30px;
  display: inline-block;
}
.inputnickname{
  display: inline-block;
  float:right;
  margin-right: 5px;
}
.computerstatus{
  text-align: left;
}
.pcsname{
  display: inline-block;
  font-size: 20px;
}
.changenicknamebutton{
  display: inline-block;
  float:right;
  margin-right: 13px;
    background-color: #4cb5f5;
    color:white;
    width: 10em;
    border: solid 1px;
    text-align: center;
    display: table;
  }
  .changenicknamebutton:hover{
    background-color: white;
    color:#4cb5f5;
    width: 10em;
    border: solid 1px;
}
.pclastseen{
  display: inline;
  margin:13px;
  color:grey;
}
.pclastseen2{
  text-align: center;
  margin:13px;
  color:grey;
}
.pcnicknameandstat{
  margin-left: 13px;
  display: inline-block;
}
.offlinestat{
  display: inline;
  color:red;
}
.onlinestat{
  display: inline;
  color:green;
}
.statistics{
  margin-top: 13px;
}
.activities{
  text-align: center;
}
.currentactivity{
  color: black;
  font-weight: bold;
  font-size: 17px;
  margin:0;
  text-align: center;
}
.livesesion{
  margin-top:13px;
}
.recentactivities{
  color: black;
  font-weight: bold;
  font-size: 17px;
  text-align: center;
}
@media screen and (min-width:768px) {
  .dropdownuser{
    display:block;
    float: right;
    margin-top: -50px;
    color:white;
    margin-right: 10px;
}
.myprofilemenu{
  float:right;
}

}
@media screen and (max-width:768px) {
  .dropdownuser{
    margin-right: 10px;
  }
  .myprofilemenu{
    float:none;
  }

}
.userbutton{
  background-color: transparent;
  border:none;
  margin-left: 10px;
}

.userbutton.active, .userbutton:active, .open > .dropdown-toggle.userbutton,
.userbutton.active.focus, .userbutton.active:focus, .userbutton.active:hover, .userbutton.focus:active,
 .userbutton:active:focus, .userbutton:active:hover, .open > .dropdown-toggle.userbutton.focus,
 .open > .dropdown-toggle.userbutton:focus, .open > .dropdown-toggle.userbutton:hover,
 .userbutton.focus, .userbutton:focus {
  border:none;
  background-color: white;
  color:#4cb5f5;
  margin-left: 10px;
}
.userbutton:hover{
  border:none;
  background-color: white;
  color:#4cb5f5;
  margin-left: 10px;
}
.fixpart img{
  margin: 0 auto;
  display:block;
}
.trackedpc a{
  text-decoration: none;
  color:black;
}
.pcpanel:hover{
  opacity: 0.7;
}
.pcnickname{
  font-style: italic;
  text-align: center;
  margin-top: 1px;
  color:grey;
  margin: -5px;
}
.pclastseen{
  text-align: center;
  margin-top:10px;
  margin-bottom: 0;
}
.pcname{
  color: black;
  font-weight: bold;
  font-size: 17px;
  text-align: center;
  margin:0;

}
.img-pc{
  max-width: 150px;
  margin: 0 auto;
  display: block;
}
.pclist{
  padding-top:10px;
}
.enterbutton{
  background-color: #4cb5f5;
  color:white;
  width: 10em;
  border: solid 1px;
  text-align: center;
  display: table;
  margin: 10px auto;
}
.enterbutton:hover{
  background-color: white;
  color:#4cb5f5;
  width: 10em;
  border: solid 1px;
  text-align: center;
  display: table;
  margin: 10px auto;
}

.registerinputs{
  padding: 25px;
  margin-top: 10px;
}
.fixpart{
  background-color: #4cb5f5;
  word-break: keep-all;
  padding: 5px;
  font-family: 'Helvetica', sans-serif;
  color:white;
  display: block;
  text-align: center;
}

.menubuttons{
  text-align: center;
}
.textdesc{
  text-align: center;
  color:grey;
  font-size:20px;
}
.descpic{
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto ;
}
.descriere{
  color:grey;
  text-align: center;
  padding-top: 10px;
}
@media screen and (min-width: 480px) {
  .doi{
    float:right;
    background-color: #4cb5f5;
    color:white;
    width: 10em;
    border: solid 1px;
    margin:5px;
  }
}
@media screen and (max-width: 480px) {
  .doi{

    background-color: #4cb5f5;
    color:white;
    width: 10em;
    border: solid 1px;
    margin-bottom: 15px;
  }
}
.doi:hover{
  background-color: white;
  color:#4cb5f5;
  border: none;
}
.butondownload{
  background-color: #4cb5f5;
  color:white;
  width: 10em;
  height: 2.5em;
  border: solid 1px;
  margin:25px;
  display: block;
  margin-left: auto;
  margin-right: auto ;
}
.butondownload:hover{
  background-color: white;
  color:black;
  color:#4cb5f5;
}
.elements{
  padding: 50px;
}
.header{
  background-color: #4cb5f5;
  padding: 25px;
  word-break: keep-all;
  font-size: 50px;
}
.titlu{
  color:white;
  font-size: 6vmax;
  font-family: 'Pacifico', cursive;
  text-align: center;
}
.logo{
  width: 700px;
  margin-left: auto;
  margin-right: auto ;

}
.motto{
  text-align: center;
  font-size: 3vmax;
  font-family: 'Helvetica', sans-serif;
  color: white;
}

.continut{
  word-break: keep-all;
  font-size: 1.5em;
  color: black;
  font-family: 'helvetica', sans-serif;
  background-color: white;
  height: 100%;
}
.line{
  height: 100%;
  background-color:grey;
  font-family: 'Helvetica', sans-serif;
  text-align: center;
  padding: 15px;
  color:white
}

.privacyterms{
  border: none;
  background-color: none;
  margin-left: -7px;
  background-color: Transparent;
}
