
@media screen and (min-width:768px) {
  .dropdownuser{
    display:block;
    float: right;
    margin-top: -50px;
    color:white;
    margin-right: 10px;
}
}
@media screen and (max-width:768px) {
  .dropdownuser{
    margin-right: 10px;
  }
}
.userbutton{
  background-color: transparent;
  border:none;
  margin-left: 10px;
}

.userbutton.active, .userbutton:active, .open > .dropdown-toggle.userbutton,
.userbutton.active.focus, .userbutton.active:focus, .userbutton.active:hover, .userbutton.focus:active,
 .userbutton:active:focus, .userbutton:active:hover, .open > .dropdown-toggle.userbutton.focus,
 .open > .dropdown-toggle.userbutton:focus, .open > .dropdown-toggle.userbutton:hover,
 .userbutton.focus, .userbutton:focus {
  border:none;
  background-color: white;
  color:#4cb5f5;
  margin-left: 10px;
}
.userbutton:hover{
  border:none;
  background-color: white;
  color:#4cb5f5;
  margin-left: 10px;
}
.fixpart img{
  margin: 0 auto;
  display:block;
}
.trackedpc a{
  text-decoration: none;
  color:black;
}
.pcpanel:hover{
  opacity: 0.7;
}
.pcnickname{
  font-style: italic;
  text-align: center;
  margin-top: 1px;
  color:grey;
  margin: -5px;
}
.pclastseen{
  text-align: center;
  margin-top:10px;
  margin-bottom: 0;
}
.pcname{
  color: black;
  font-weight: bold;
  font-size: 17px;
  text-align: center;
  margin:0;

}
.img-pc{
  max-width: 150px;
  margin: 0 auto;
  display: block;
}
.pclist{
  padding-top:10px;
}
.enterbutton{
  background-color: #4cb5f5;
  color:white;
  width: 10em;
  border: solid 1px;
  text-align: center;
  display: table;
  margin: 10px auto;
}
.enterbutton:hover{
  background-color: white;
  color:#4cb5f5;
  width: 10em;
  border: solid 1px;
  text-align: center;
  display: table;
  margin: 10px auto;
}

.registerinputs{
  padding: 25px;
  margin-top: 10px;
}
.fixpart{
  background-color: #4cb5f5;
  word-break: keep-all;
  padding: 5px;
  font-family: 'Helvetica', sans-serif;
  color:white;
  display: block;
  text-align: center;
}

.menubuttons{
  text-align: center;
}
.textdesc{
  text-align: center;
  color:grey;
  font-size:20px;
}
.descpic{
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto ;
}
.descriere{
  color:grey;
  text-align: center;
  padding-top: 10px;
}
@media screen and (min-width: 480px) {
  .doi{
    float:right;
    background-color: #4cb5f5;
    color:white;
    width: 10em;
    border: solid 1px;
    margin:5px;
  }
}
@media screen and (max-width: 480px) {
  .doi{

    background-color: #4cb5f5;
    color:white;
    width: 10em;
    border: solid 1px;
    margin-bottom: 15px;
  }
}
.doi:hover{
  background-color: white;
  color:#4cb5f5;
  border: none;
}
.butondownload{
  background-color: #4cb5f5;
  color:white;
  width: 10em;
  height: 2.5em;
  border: solid 1px;
  margin:25px;
  display: block;
  margin-left: auto;
  margin-right: auto ;
}
.butondownload:hover{
  background-color: white;
  color:black;
  color:#4cb5f5;
}
.elements{
  padding: 50px;
}
.header{
  background-color: #4cb5f5;
  padding: 25px;
  word-break: keep-all;
  font-size: 50px;
}
.titlu{
  color:white;
  font-size: 6vmax;
  font-family: 'Pacifico', cursive;
  text-align: center;
}
.logo{
  width: 700px;
  margin-left: auto;
  margin-right: auto ;

}
.motto{
  text-align: center;
  font-size: 3vmax;
  font-family: 'Helvetica', sans-serif;
  color: white;
}

.continut{
  word-break: keep-all;
  font-size: 1.5em;
  color: black;
  font-family: 'helvetica', sans-serif;
  background-color: white;
  height: 100%;
}
.line{
  height: 100%;
  background-color:grey;
  font-family: 'Helvetica', sans-serif;
  text-align: center;
  padding: 15px;
  color:white
}

.privacyterms{
  border: none;
  background-color: none;
  margin-left: -7px;
  background-color: Transparent;
}
